.barChart{
    border-radius: 15px;
background-color: #F7F9FB;
box-shadow:  0 0 5px 5px rgb(206, 206, 206);
position: relative;
padding: 4rem 2rem 0 0;
@media (max-width:730px) {
    padding-left:15% ;
    
}
@media (max-width:430px) {
    padding-left:0 ;
}
.chart-title{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-weight:700;
}
}