.table{
    height: 425px;
    width: '100%';
    border-radius: 15px;
    padding: 20px;
    background-color: #F7F9FB;
   box-shadow:  0 0 5px 5px rgb(206, 206, 206);

    .datagrid{
     border: none;
    }
}